
.border_page {
    font-family: Arial;
    height: auto;
    width: 1000px;
    border-style: none;
    border-radius: 20px;
    background-color: white;
    margin: 30px auto;
}

.imagepage {
    background-image: url('../Images/Images for DoctorAdminPage/DocAdminPic.png');
    background-size:cover;
    background-repeat: no-repeat;
}
