body {
}

.border_find {
    font-family: Arial;
    width: 1000px;
    /*border: solid;*/
    margin: 30px auto;
}

    .border_find p {
        text-align: justify;
        text-indent: 15px;
        font-family: Arial;
        margin: 25px;
        font-size: 20px;
    }